<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book List</title>
    <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
</head>

<body>
    <h2>Books</h2>

    <table class="table table-striped">
        <tr>
            <th>Author</th>
            <th>Title</th>
            <th>ISBN</th>
            <th>Year</th>
            <th>Action</th>
        </tr>

        <tr th:each="book : ${books}">
            <td th:text="${book.author}"></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.year}"></td>
            <td>
                <a class="btn btn-danger" th:href="@{/book/delete/{id}(id=${book.id})}">
                    Delete
                </a>
                <a class="btn btn-primary" th:href="@{/book/edit/{id}(id=${book.id})}">
                    Edit
                </a>
            </td>
        </tr>

        <tr>
            <td colspan="5">
                <a class="btn btn-success" th:href="@{/book/add}">
                    Add Book
                </a>
            </td>
        </tr>
    </table>
</body>

</html>